{% extends "base.html"%}
{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">UPDATE PROFILE</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><strong>Welcome</strong> {{user.first_name}} {{user.last_name}} !</h5>
                </div>
                <div class="card-body">
                    <form action="#">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">First Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" value="{{user.first_name}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Last Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" value="{{user.last_name}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Email</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" value="{{user.email}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Username</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" value="{{user.username}}"readonly>
                            </div>
                        </div>
                        <!-- {% if user.user_type == '1' %} -->
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Roll</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" value="474"readonly>
                            </div>
                        </div>
                        <!-- {% endif %} -->
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">User Type</label>
                            <div class="col-md-10">
                                {% if user.user_type == '1' %}
                                <input type="text" class="form-control" disabled="disabled" value="Head of Deparment">
                                {% elif user.user_type == '12' %}
                                <input type="text" class="form-control" disabled="disabled" value="Staff">
                                {% else %}
                                <input type="text" class="form-control" disabled="disabled" value="Student">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">File Input</label>
                            <div class="col-md-10">
                                <input class="form-control" type="file">
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label class="col-form-label col-md-2">Default Select</label>
                            <div class="col-md-10">
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </div>
                        </div> -->
                        <!-- <div class="form-group row">
                            <label class="col-form-label col-md-2">Radio</label>
                            <div class="col-md-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio"> Option 1
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio"> Option 2
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio"> Option 3
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Checkbox</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="checkbox"> Option 1
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="checkbox"> Option 2
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="checkbox"> Option 3
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Textarea</label>
                            <div class="col-md-10">
                                <textarea rows="5" cols="5" class="form-control"
                                    placeholder="Enter text here"></textarea>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <label class="col-form-label col-md-2">Input Addons</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input class="form-control" type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">Button</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label class="col-form-label col-md-10"></label>
                            <div class="col-md-2">
                                <button type="submit"class="col-form-label" style="padding: 5px 25px;;">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Password </h5>
                </div>
                <div class="card-body">
                    <form action="#">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">OLd Password</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control form-control-lg" name="old_pass">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">New Password</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control form-control-lg" name="new_pass">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">confrom Password</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control form-control-lg"name="cnf_pass">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-10"></label>
                            <div class="col-md-2">
                                <button type="submit"class="col-form-label" style="padding: 5px 25px;;">Update</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}